<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            body {
            font-family: Arial, sans-serif;
            padding: 20px;
            }
            .product {
            border: 1px solid #ddd;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Products</h1>

        <a href="add.html" style="text-decoration: none;">
            <button>Add New Product</button>
        </a>

        <div id="product-list">Loading products...</div>
        <script src="view.js"></script>
    </body>
</html>